1. Data Preparation
- Load OHLCV data for all selected tickers (e.g., AMZN, META, AVGO, ETFs)
- Normalize features per ticker (z-score or min-max scaling)
- Add metadata: ticker_id, sector, day_of_week, macro regime (optional)
- Create rolling windows for time series modeling (e.g., 10-day sequences)
2. Feature Engineering
- Technical indicators: RSI, MACD, Bollinger Bands, ATR
- Candle features: range, body size, wick ratios
- Volume features: OBV, VWAP, volume spikes
- Lagged returns, volatility, momentum scores
3. Labeling Strategy
- Define swing trade targets:
- Binary: Will price rise >x% in next n days?
- Multi-class: Uptrend / Downtrend / Sideways
- Regression: Expected return over next n days

#### Dependencies

In [35]:
import yfinance as yf
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import TimeSeriesSplit
from scipy.stats import spearmanr, pearsonr
import numpy as np
import pandas as pd
import seaborn as sns
import torch
import torch.nn as nn
from torch.utils.data import DataLoader, TensorDataset
import torch.optim as optim
from datetime import datetime, timedelta
from ta.momentum import RSIIndicator, StochasticOscillator
from ta.trend import SMAIndicator, MACD, CCIIndicator
from ta.momentum import WilliamsRIndicator
from ta.volume import ChaikinMoneyFlowIndicator

In [36]:
print(torch.__version__)
print(torch.version.cuda) 
print(torch.cuda.is_available())   # True if a GPU is detected
print(torch.cuda.device_count())   # Number of GPUs available
print(torch.cuda.get_device_name(0))  # Name of the first GPU

2.9.0+cu128
12.8
True
1
NVIDIA GeForce RTX 4080

#### Datacollation

Equities taken from realistic stock portfolio:
"AMZN", "META", "AVGO", "LLY", "ETN", "CYBR", "LIN", "WM", "SLNO", "CYTK", "XLV"

In [50]:
leadup_days = 30
start_date = (datetime.strptime("2015-01-01", "%Y-%m-%d") - timedelta(days=leadup_days)).strftime("%Y-%m-%d")
amzn = yf.Ticker("AMZN")
raw_data = amzn.history(start=start_date, end="2025-01-01", interval="1d", auto_adjust=False, actions=False)

In [57]:
# raw_data.columns = raw_data.columns.str.lower()
raw_data.info()
raw_data.describe()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2537 entries, 2014-12-02 00:00:00-05:00 to 2024-12-31 00:00:00-05:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   open       2537 non-null   float64
 1   high       2537 non-null   float64
 2   low        2537 non-null   float64
 3   close      2537 non-null   float64
 4   adj close  2537 non-null   float64
 5   volume     2537 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 138.7 KB

,open,high,low,close,adj close,volume
count,2537.000000,2537.000000,2537.000000,2537.000000,2537.000000,2.537000e+03
mean,100.546931,101.687477,99.302719,100.522593,100.522593,7.616016e+07
std,54.533373,55.155739,53.855255,54.506998,54.506998,4.058225e+07
min,14.314000,14.539500,14.262500,14.347500,14.347500,1.500750e+07
25%,48.000000,48.365501,47.702499,47.992001,47.992001,5.077600e+07
50%,94.180000,95.250000,93.139999,94.230003,94.230003,6.526200e+07
75%,153.692505,155.630005,151.550507,153.729996,153.729996,9.000000e+07
max,232.389999,233.000000,228.009995,232.929993,232.929993,4.771220e+08

#### Useful functions

In [68]:
def add_indicators(df, sma_vals=[10, 20]):
    df = df.copy()
    # ensure all column labels are lowercase
    df.columns = df.columns.str.lower().str.replace(' ', '_')

    # 1. Simple Moving Average (SMA)
    for i in sma_vals:
        df[f'sma_{i}'] = SMAIndicator(df['close'], window=i).sma_indicator()

    # 2. Stochastic Oscillator (KD)
    stoch = StochasticOscillator(df['high'], df['low'], df['close'], window=14, smooth_window=3)
    df['stoch_k'] = stoch.stoch()         # %K line
    df['stoch_d'] = stoch.stoch_signal()  # %D line

    # 3. MACD
    macd = MACD(df['close'], window_slow=26, window_fast=12, window_sign=9)
    df['macd'] = macd.macd()
    df['macd_signal'] = macd.macd_signal()
    df['macd_hist'] = macd.macd_diff()

    # 4. Commodity Channel Index (CCI)
    df['cci'] = CCIIndicator(df['high'], df['low'], df['close'], window=20).cci()

    # 5. Williams %R
    df['williams_r'] = WilliamsRIndicator(df['high'], df['low'], df['close'], lbp=14).williams_r()

    # 6. Relative Strength Index (RSI)
    df['rsi'] = RSIIndicator(df['close'], window=14).rsi()

    # 7. Chaikin A/D Oscillator (ADOSC)
    df['adosc'] = ChaikinMoneyFlowIndicator(
        high=df['high'],
        low=df['low'],
        close=df['close'],
        volume=df['volume'],
        window=20
    ).chaikin_money_flow()

    return df

#### Operation Pipeline

In [65]:
df = raw_data.copy()
df = add_indicators(df, sma_vals=[5, 19])

In [67]:
df.head(30)

,open,high,low,close,adj_close,volume,sma_5,sma_19,stoch_k,stoch_d,macd,macd_signal,macd_hist,cci,williams_r,rsi,adosc
Date,,,,,,,,,,,,,,,,,
2014-12-02 00:00:00-05:00,16.375000,16.396500,16.1625,16.3155,16.3155,55806000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-03 00:00:00-05:00,16.286501,16.338499,15.7180,15.8250,15.8250,113620000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-04 00:00:00-05:00,15.776500,15.929500,15.6735,15.8465,15.8465,65806000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-05 00:00:00-05:00,15.840000,15.846500,15.5420,15.6315,15.6315,65304000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-08 00:00:00-05:00,15.578500,15.828000,15.2410,15.3320,15.3320,72784000,15.7901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-09 00:00:00-05:00,15.149500,15.682000,15.0570,15.6250,15.6250,80990000,15.6520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-10 00:00:00-05:00,15.600000,15.659500,15.2340,15.2920,15.2920,64918000,15.5454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-11 00:00:00-05:00,15.394500,15.632000,15.3005,15.3680,15.3680,65258000,15.4497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-12 00:00:00-05:00,15.199500,15.532000,15.1505,15.3660,15.3660,63070000,15.3966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-15 00:00:00-05:00,15.443500,15.543000,15.1075,15.3035,15.3035,76832000,15.3909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-16 00:00:00-05:00,15.217500,15.224500,14.7505,14.7530,14.7530,130026000,15.2165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-17 00:00:00-05:00,14.818500,14.983500,14.6515,14.9440,14.9440,88670000,15.1469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-18 00:00:00-05:00,15.200500,15.225000,14.6625,14.8865,14.8865,154762000,15.0506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-19 00:00:00-05:00,14.845500,15.077000,14.7760,14.9950,14.9950,174182000,14.9764,NaN,19.684823,NaN,NaN,NaN,NaN,NaN,-80.315177,29.170442,NaN
2014-12-22 00:00:00-05:00,15.097000,15.368000,15.0970,15.3270,15.3270,80076000,14.9811,NaN,40.041505,NaN,NaN,NaN,NaN,NaN,-59.958495,41.530393,NaN
2014-12-23 00:00:00-05:00,15.349000,15.374500,15.1625,15.3145,15.3145,54274000,15.0934,NaN,51.877948,37.201425,NaN,NaN,NaN,NaN,-48.122052,41.238612,NaN
2014-12-24 00:00:00-05:00,15.319000,15.350000,15.1440,15.1515,15.1515,30276000,15.1349,NaN,41.840981,44.586811,NaN,NaN,NaN,NaN,-58.159019,37.535228,NaN
2014-12-26 00:00:00-05:00,15.250000,15.539000,15.1905,15.4545,15.4545,57876000,15.2485,NaN,68.253313,53.990747,NaN,NaN,NaN,NaN,-31.746687,47.053759,NaN
2014-12-29 00:00:00-05:00,15.392500,15.713500,15.3290,15.6020,15.6020,60180000,15.3699,15.385947,89.500964,66.531753,NaN,NaN,NaN,NaN,-10.499036,50.970507,NaN
2014-12-30 00:00:00-05:00,15.495500,15.697000,15.4670,15.5150,15.5150,41860000,15.4075,15.343816,81.308886,79.687721,NaN,NaN,NaN,40.468442,-18.691114,48.682916,-0.038656
2014-12-31 00:00:00-05:00,15.577500,15.649000,15.5005,15.5175,15.5175,40960000,15.4481,15.327632,81.544252,84.118034,NaN,NaN,NaN,56.617452,-18.455748,48.754079,-0.069841
2015-01-02 00:00:00-05:00,15.629000,15.737500,15.3480,15.4260,15.4260,55664000,15.5030,15.305500,71.316720,78.056619,NaN,NaN,NaN,52.658346,-28.683280,46.226963,-0.045548
2015-01-05 00:00:00-05:00,15.350500,15.419000,15.0425,15.1095,15.1095,55484000,15.4340,15.278026,42.173112,65.011361,NaN,NaN,NaN,-42.778772,-57.826888,38.745722,-0.084758
2015-01-06 00:00:00-05:00,15.112000,15.150000,14.6190,14.7645,14.7645,70380000,15.2665,15.248158,13.008427,42.166086,NaN,NaN,NaN,-141.381332,-86.991573,32.559964,-0.087698
2015-01-07 00:00:00-05:00,14.875000,15.064000,14.7665,14.9210,14.9210,52806000,15.1477,15.211105,27.000372,27.393970,NaN,NaN,NaN,-101.761605,-72.999628,37.439188,-0.053995
2015-01-08 00:00:00-05:00,15.016000,15.157000,14.8055,15.0230,15.0230,61768000,15.0488,15.196947,36.119751,25.376183,-0.201204,NaN,NaN,-68.937089,-63.880249,40.462583,-0.089540
2015-01-09 00:00:00-05:00,15.074000,15.143500,14.8340,14.8465,14.8465,51848000,14.9329,15.169500,20.339742,27.819955,-0.213065,NaN,NaN,-76.033415,-79.660258,37.119683,-0.090637
2015-01-12 00:00:00-05:00,14.878000,14.925500,14.4640,14.5705,14.5705,68428000,14.8251,15.127632,8.362826,21.607440,-0.241947,NaN,NaN,-138.390422,-91.637174,32.585996,-0.089192
2015-01-13 00:00:00-05:00,14.874000,15.075000,14.6615,14.7370,14.7370,82728000,14.8196,15.097816,21.437034,16.713200,-0.248536,NaN,NaN,-81.929555,-78.562966,37.541934,-0.128779
2015-01-14 00:00:00-05:00,14.596500,14.795500,14.3250,14.6635,14.6635,110774000,14.7681,15.093105,23.964597,17.921485,-0.256729,NaN,NaN,-126.364384,-76.035403,36.274181,-0.088948